.container{
    padding:30px;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.header h2{
    font-size:28px;
    font-weight:600;
}

.add-btn{
    background:#1F4FA3;
    color:#fff;
    border:none;
    padding:12px 22px;
    border-radius:10px;
    cursor:pointer;
    font-weight:600;
}

.form-card{
    background:#fff;
    padding:25px;
    border-radius:18px;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    margin-bottom:25px;
}

form{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    gap:20px;
}

.field{
    display:flex;
    flex-direction:column;
}

.field label{
    margin-bottom:8px;
    font-weight:600;
}

.field input,
.field select{
    height:48px;
    border:1px solid #ddd;
    border-radius:10px;
    padding:0 14px;
}

.table-card{
    background:#fff;
    border-radius:18px;
    overflow:hidden;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

table{
    width:100%;
    border-collapse:collapse;
}

thead{
    background:#1F4FA3;
}

thead th{
    color:#fff;
    padding:18px;
}

tbody td{
    padding:18px;
    border-bottom:1px solid #eee;
}

tbody tr:hover{
    background:#F8FAFC;
}

.icon-btn{
    border:none;
    background:none;
    font-size:18px;
    cursor:pointer;
    margin-right:10px;
}

.edit{
    color:#2563EB;
}

.delete{
    color:#EF4444;
}

/* Toggle Switch */

.switch{
    position:relative;
    display:inline-block;
    width:48px;
    height:24px;
}

.switch input{
    display:none;
}

.slider{
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:#ccc;
    border-radius:30px;
    transition:.3s;
}

.slider:before{
    position:absolute;
    content:"";
    height:18px;
    width:18px;
    left:3px;
    bottom:3px;
    background:white;
    border-radius:50%;
    transition:.3s;
}

input:checked + .slider{
    background:#22C55E;
}

input:checked + .slider:before{
    transform:translateX(24px);
}
.actions{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:12px;
}

.icon-btn{
    width:38px;
    height:38px;
    border:none;
    border-radius:10px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
    transition:.25s;
}

.icon-btn i{
    font-size:15px;
}

.edit{
    background:#EFF6FF;
    color:#2563EB;
}

.edit:hover{
    background:#2563EB;
    color:#fff;
}

.delete{
    background:#FEF2F2;
    color:#EF4444;
}

.delete:hover{
    background:#EF4444;
    color:#fff;
}